<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Regular Gas Prices</title>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <link rel="stylesheet" href="/static/css/stylesheet.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
</head>
<body>

  <select id="GasDropdown">
    <option value="diesel"></option> 
    <option value="regular">Regular</option>
    <option value="premium">Premium</option> 
    <option value="heating">Heating</option>
    </select>
    <a href="/" class="button-link">Home</a> 
   
  <div id="graph-container"> <script src="{{ url_for('static', filename='js/dropdown_handler.js') }}"></script>  </div> 

  <script src="{{ url_for('static', filename='js/GAS2.js') }}"></script>  

<div id = "error"></div>
  <div id="legend-container">
    <ul class="legend">
      <li><span class="color-box"></span> 2018</li>
      <li><span class="color-box"></span> 2019</li>
      <li><span class="color-box"></span> 2020</li>
      <li><span class="color-box"></span> 2021</li>
      <li><span class="color-box"></span> 2022</li>
      <li><span class="color-box"></span> 2023</li>
      </ul>
  </div>
  <input type="range" min="0" max="17" value="0" id="dataSlider">  <div id="geo"></div>
  <div id="dataDisplay" class="column-container"></div> 
  <a href="https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=1810000101&pickMembers%5B0%5D=2.2&cubeTimeFrame.startMonth=01&cubeTimeFrame.startYear=2018&cubeTimeFrame.endMonth=12&cubeTimeFrame.endYear=2023&referencePeriods=20180101%2C20231201" target="_blank">Source: statcan</a>

</body>



</html>
